<%= image_tag('gameofthrones.png', class: "mainimage")%>

<h1>Welcome to Westeros! </h1>
<p>WARNING: This site assumes the reader is current with the latest episode in Season 7 of Game of Thrones and may contain spoilers. Enter if you dare!</p>
